<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
        <div class="card mx-auto">
          <img src="../assets/img/seo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Front End Development</h5>
            <p class="card-text">Powered by PHP & MySQL. This project aided me in gaining experience with database creation & management along with a variety of tools like phpMyAdmin, cookies and sessions.</p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="https://getbootstrap.com/docs/5.0/components/card/" class="btn btn-outline-info">Demo</a>
              <a href="#" class="btn btn-outline-warning">Source Code</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
        <div class="card mx-auto">
          <img src="../assets/img/seo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Backend Development</h5>
            <p class="card-text">Powered by PHP & MySQL. This project aided me in gaining experience with database creation & management along with a variety of tools like phpMyAdmin, cookies and sessions.</p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="https://getbootstrap.com/docs/5.0/components/card/" class="btn btn-outline-info">Demo</a>
              <a href="#" class="btn btn-outline-warning">Source Code</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 20px">
        <div class="card mx-auto">
          <img src="../assets/img/seo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fullstack Developer</h5>
            <p class="card-text">Powered by PHP & MySQL. This project aided me in gaining experience with database creation & management along with a variety of tools like phpMyAdmin, cookies and sessions.</p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="https://getbootstrap.com/docs/5.0/components/card/" class="btn btn-outline-info">Demo</a>
              <a href="#" class="btn btn-outline-warning">Source Code</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="container" style="margin-top: 12px; background-color: white; border-radius: 5px; margin-bottom: 20px;">
      <div class="row">
        <h3 class="text-center" style="margin-top: 10px;">Email</h3>
        <h5 class="text-center">FOR ALL ENQUIRIES, PLEASE READ THE FOLLWOING PRIOR.</h5>
        <hr>
        <p>To expedite requests, be specific with your subject (Resume Request, Website Inquiry, Etc.) and your request will be directed as required. I will do my best to answer your questions to the maximum extent possible. All I ask is that you provide as much necessary information as you can. With web design, it is crucial to understand what you're attempting to achieve with your website or application. Click the link or image below.</p>
        <a class="text-center" href="..." style="margin-bottom: 10px;">Business Email</a>
        <img class="img-fluid" src="../assets/img/mail.jpg" style="margin-bottom: 20px;">
      </div>
    </div>