<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
        <div class="card mx-auto">
          <img src="../assets/img/ui.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Front End Development</h5>
            <p class="card-text">Bringing technologies together to implement visual and interactive elements for user engagement. Services responsible for visual elements users see and interact with in application.</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
        <div class="card mx-auto">
          <img src="../assets/img/backend.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Backend Development</h5>
            <p class="card-text">Services consists of working with servers, applications, and databases to integrate business logic to users via the user-facing side of websites and web application.</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 20px">
        <div class="card mx-auto">
          <img src="../assets/img/fullstack.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fullstack Developer</h5>
            <p class="card-text">Bringing elements of both front end and back end technologies to construct fully functional web applications. Having a good grasp of practices of both sides of web functionality and architecture along with designing APIs.</p>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="container" style="margin-top: 12px; background-color: white; border-radius: 5px; margin-bottom: 20px;">
      <div class="row">
        <h3 class="text-center" style="margin-top: 10px;">Email</h3>
        <h5 class="text-center">FOR ALL ENQUIRIES, PLEASE READ THE FOLLWOING PRIOR.</h5>
        <hr>
        <p>To expedite requests, be specific with your subject (Resume Request, Website Inquiry, Etc.) and your request will be directed as required. I will do my best to answer your questions to the maximum extent possible. All I ask is that you provide as much necessary information as you can. With web design, it is crucial to understand what you're attempting to achieve with your website or application. Click the link or image below.</p>
        <h3 class="text-center"><a class=" text-center link-info" href="mailto:someone@yoursite.com" style="margin-bottom: 10px;">Business Email</a></h3>
        <img class="img-fluid" src="../assets/img/mail.jpg" style="margin-bottom: 20px;" href="mailto:someone@yoursite.com">
      </div>
      
    </div>