<div class="container-fluid" style="background-color: #212529;">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center" style="margin-top: 12px; color: white;">Projects</h3>
        <p style="color: white;">All of my projects are hosted via Heroku along with their add-ons suhc as ClearDB for my MySQL 
          projects and connections to MongoDB Atlas for my MEAN projects. Source code for my projects available through GitHub.
        This method of hosting allows me create and deploy project while practicing my CLI, terminal, and powershell 
      commands as well as gaining proficiency in my Git commands rather than just uploading files.</p>
      <p style="color: white;">Other technologies or tools I've had to use are Heroku add-ons like ClearDB, MongoDB Atlas, Mongo Shell, ...</p>
      </div>
    </div>
  </div>
  
  <div class="container" style="margin-bottom: 20px;">
      <div class="row justify-content-evenly">
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              MySQL | PHP | Bootstrap
            </div>
            <img src="../assets/img/seo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Multilingual Message Board</h5>
              <p class="card-text">Powered by PHP & MySQL. This project aided me in gaining experience with database creation & management along with a variety of tools like phpMyAdmin, cookies and sessions.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="https://getbootstrap.com/docs/5.0/components/card/" class="btn btn-outline-info">Demo</a>
                <a href="#" class="btn btn-outline-warning">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              MongoDB | Express.js | Angular JS | Node.js
            </div>
            <img src="../assets/img/location.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MEAN Application</h5>
              <p class="card-text">Loc8tr application that allows users to find coffee shops and look at location information & amenities as well as reviews provided by users.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="#" class="btn btn-outline-info">Demo</a>
                <a href="#" class="btn btn-outline-info">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              Express.js | Node.js
            </div>
            <img src="../assets/img/location.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Static Express & Node App</h5>
              <p class="card-text"> Static version of Loc8tr application made using routing and data injection to expand my knowledge in the application of these technologies.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="#" class="btn btn-outline-info">Demo</a>
                <a href="#" class="btn btn-outline-info">Source Code</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              Angular | Bootstrap
            </div>
            <img src="../assets/img/atc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Angular ATC Quiz</h5>
              <p class="card-text"> Static version of Loc8tr application made using routing and data injection to expand my knowledge in the application of these technologies.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="#" class="btn btn-outline-info">Demo</a>
                <a href="#" class="btn btn-outline-info">Source Code</a>
              </div>
            </div>
          </div>
        </div>
  
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              HTML | CSS | JS
            </div>
            <img src="../assets/img/tetris.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tetris With AI</h5>
              <p class="card-text">Showing my javaScript skills.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="#" class="btn btn-outline-info">Demo</a>
                <a href="#" class="btn btn-outline-info">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              HTML | CSS | JS
            </div>
            <img src="../assets/img/html.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Previous Website Design & Old Projects</h5>
              <p class="card-text">MEAN app project description</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="#" class="btn btn-outline-info">Demo</a>
                <a href="#" class="btn btn-outline-info">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    
  