<div class="container-fluid" style="background-color: #40474F;">
    <div class="row">
      <div class="col-12">
        <!-- Portfolio Introduction-->
        <h3 class="text-center" style="margin-top: 12px; color: white;">Projects</h3>
        <p style="color: white;">All my projects are hosted via Heroku along with their add-ons such as ClearDB for my MySQL projects and 
          connections to MongoDB Atlas for my MEAN projects. Source code for my projects available through GitHub via the Source Code Button 
          along with demos. Angular and MEAN projects along with this method of hosting allow me to create and deploy projects while practicing 
          my CLI, terminal, and PowerShell commands as well as gaining proficiency in my Git commands rather than just uploading files.
          </p>

        <p style="color: white;">Some of the technologies or tools I've had to use are Heroku ClearDB add-on, MongoDB Atlas, Mongo Shell, 
          Visual Studio Code PowerShell, Angular CLI, Git, Git Bash, Composer.json, npm, Express.js, and others in order to make the most of 
          Heroku’s services.  
        </p>
        </div>
      </div>
    </div>
  
  <!-- Projects -->
  <div class="container" style="margin-bottom: 20px;">
      <div class="row justify-content-evenly">
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              MySQL | PHP | Bootstrap
            </div>
            <img src="../assets/img/seo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Multilingual Message Board</h5>
              <p class="card-text">Powered by PHP & MySQL. This project aided me in gaining experience with database creation & management along with a variety of tools like phpMyAdmin, 
                cookies and sessions. Also gained experience working with remote databases using Heroku ClearDB.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="https://multilingual-message-board.herokuapp.com/" class="btn btn-outline-info">Demo</a>
                <a href="https://github.com/vangel1227/mulitlingual-message-board" class="btn btn-outline-warning">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              Angular JS | Bootstrap | Express.js
            </div>
            <img src="../assets/img/recipe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Recipe Application</h5>
              <p class="card-text">Main introduction to the Angular framework building upon the basics such as components, directive, data models, services, routing. Integrating Bootstrap 
                styling to implement a responsive user interface. Also working with TypeScript and a variety of Angular modules.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="https://recipe-app-ng.herokuapp.com/recipes" class="btn btn-outline-info">Demo</a>
                <a href="https://github.com/vangel1227/recipe-app-ng" class="btn btn-outline-warning">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              Express.js | Node.js | Pug
            </div>
            <img src="../assets/img/location.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Static Express & Node App</h5>
              <p class="card-text"> Static version of Loc8tr application made using routing and data injection to expand my knowledge in the application of Express.js and Node.js. Defining and organizing routes and
                controllers to send data to Pug templates, making use of Pug's reusable and dynamic templates.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="https://loc8tr-node-express.herokuapp.com/" class="btn btn-outline-info">Demo</a>
                <a href="https://github.com/vangel1227/loc8tr-node-express" class="btn btn-outline-warning">Source Code</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              Angular | Bootstrap
            </div>
            <img src="../assets/img/atc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Angular ATC Quiz</h5>
              <p class="card-text">Angular and Bootstrap in addition to adding animations. This 
                exercises the use of services and injecting data in array object & JSON key/value pair format. Directive shows 
                 user can see if answer was correct prior to grading via the change of element background-color. Databinding, ngFor & ngIf 
                utilized to generate a responsive user experience.</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="https://atc-quiz.herokuapp.com/" class="btn btn-outline-info">Demo</a>
                <a href="https://github.com/vangel1227/atc-quiz" class="btn btn-outline-warning">Source Code</a>
              </div>
            </div>
          </div>
        </div>
  
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              HTML | CSS | JS
            </div>
            <img src="../assets/img/tetris.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tetris With AI</h5>
              <p class="card-text">My most JavaScript heavy project containing multiple JS files. Making use of a variety of concepts such as variables, functions, classes, if/else/switch statements, and working the Document Object Model, 
                Math, Date, and other JS built-in objects. Using innerHTML, classList, and other DOM methods to create a responsive experience.
              </p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="http://venzotest.com/" class="btn btn-outline-info">Demo</a>
                <a href="https://github.com/vangel1227/AI-tetris" class="btn btn-outline-warning">Source Code</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px">
          <div class="card mx-auto">
            <div class="card-header">
              HTML | CSS | JS | jQuery
            </div>
            <img src="../assets/img/html.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Previous Website Design & Old Projects</h5>
              <p class="card-text">All static site using jQuery, JavaScript, and CSS for site responsiveness. Contains a variety of designs to showcase different approaches to UI and UX design. 
                Contains older projects as well only using HTML, CSS, JS, and jQuery. This is my website deployed via GoDaddy, but looking to move
                to AWS to gain expertise in their services.
              </p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="http://venzodesign.com/" class="btn btn-outline-info">Demo</a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    
  