<div class="container" style="margin-top: 12px; margin-bottom: 12px; background-color: white; border-radius: 5px;">
    <div class="row">
      <div class="col-12">
        <h4 style="margin-top: 20px;">CAREER | EXPERIENCE | SKILLS</h4>
        <hr>
        <h3>Vincent Angel</h3>
        <br>
        <h4>Career Profile</h4>
        <p>Air Traffic Controller with over 6 years experience in implementing FAA, Air Force, and Local procedures to ensure safety and separation of aircraft operations for the United States Air Force at McConnell Air Force Base.</p>
        <p>While serving as an Air Traffic Controller, I attend higher education at Southwestern College where I dual majored in Computer Programming and Information Systems Management. I was placed on the Dean’s Honor Roll with a GPA of 3.83 and utilized skills I learned to aid in completing operations.</p>
        <h4>Education</h4>
        <h5>Bachelor of Science in Information Systems Management & Computer Programming (BS)</h5>
        <p>Southwestern College, Winfield, KS</p>
        <h5>Associate of Science in Air Traffic Operations & Management (AS)</h5>
        <p>Community College of the Air Force, Maxwell-Gunter Air Force Base, AL</p>
        <h4>Expertise & Skills</h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>HTML5</td>
              <td>CSS3</td>
              <td>JavaScript</td>
            </tr>
            <tr>
              <td>Angular 9</td>
              <td>Typescript</td>
              <td>SQL</td>
            </tr>
            <tr>
              <td>MongoDB</td>
              <td>Express.JS</td>
              <td>Node.js</td>
            </tr>
            <tr>
              <td>MySQL</td>
              <td>PHP</td>
              <td>jQuery</td>
            </tr>
            <tr>
              <td>Java</td>
              <td>VB.NET</td>
              <td>VBA</td>
            </tr>
          </tbody>
        </table>
        <h4>Professional Experience</h4>
        <h5>United States Air Force, McConnell Air Force Base, KS</h5>
        <h5>Air Traffic Controller (08/2014 - 08/2020)</h5>
        <p>Received Control Tower Operator (CTO) certification where I obtained 4 position ratings contributing to over 40,000 annual flights assisting in the Air Mobility Command mission through sequencing VFR and IFR aircraft. Deconflicted military and civilian aircraft in airspace surrounded by 7 civilian airports. Extensive experience working with information systems encompassed within the National Airspace System to include Flight Data Input Output (FDIO), Airfield Terminal Information Service (ATIS) and more.</p>
        <p>Co-founded iPad program that allowed personnel to take FAA, Air Force, and local directives on the go while ensuring compliance with Air Force operational security requirements. Created training documents and trackers utilizing Excel, Word, and PowerPoint to ensure efficient and effective turnover of program. Monitored and maintained electronic and communication equipment at facility acting as a Cybersecurity Liaison coordinating issues with Communications Squadron.</p>
        <p>Developed a Microsoft Access database to track squadron vehicle operations. The database tracked driver qualifications, vehicle information, and maintained a record of vehicle operations. Over the course of my 210-day deployment, over 9,600 vehicle operations, 200 personnel qualification profiles, and 50 vehicles profiles were recorded and maintained. Created hardcopy logs in case of outages along with training manuals to ensure successful turnover of programs.</p>
  
        <h5>Midwest Air Traffic Control, Martha's Vineyard, MA</h5>
        <h5>Air Traffic Controller (09/2020 - 02/2021)</h5>
        <p>Received CTO where I obtained 4 position ratings contributing to over 30,000 annual flights in the Boston area. Deconflicted military, air taxi, air carrier and general aviation operations in airspace. Continued work with National Airspace System (NAS) information systems. Created and amended flight information to include routing and altitude changes. Received a security clearance from the Federal Aviation Administration (FAA) during my time at this location.</p>
  
        <h5>PICKUP, Plano, TX</h5>
        <h5>Operations Dispatcher (04/2021 - Current)</h5>
        <p>Provided superior high-volume customer service in a fast-paced growing call center environment, handled logistical support to our customers and drivers, dispatching orders across multiple markets. Provided two-way communications, while monitoring the grid and adjusting where necessary to maximize on-time performance and minimize service disruptions.</p>
        <p>Maintained two-way communication with customers and drivers regarding orders, cancellations, and changes. Proactively communicated with appropriate operations staff regarding scheduling or order issues. Supported Customer Support Specialist’s regarding driver availability, assigned drivers, ETA to customer location and other inquiries. Ensure efficient driver operations through interaction with drivers, field operations personnel, field management and corporate management.</p>
      </div>
    </div>
  </div>
  
  
